<div class="card">
	<div class="card-content">
		<br><br><br><br><br><br><br>ALL MODULES<br><br><br><br><br><br><br>
	</div>
</div>

<hr>

<div class="card">
	<div class="card-content">
		<br><br><br><br><br><br><br>TOPOGRAFY<br><br><br><br><br><br><br>
	</div>
</div>

<hr>

<div class="card">
	<div class="card-title" fxLayout="row" fxLayoutAlign="space-between center">
		<span>Main tenant administration</span>
		<button pButton type="button" class="p-button-outlined p-button-secondary">config</button>
	</div>
	<div class="card-content">
		sdad
		<br>
		asdasd
	</div>
</div>

<div class="card">
	<div class="card-title" fxLayout="row" fxLayoutAlign="space-between center">
		<span>Accounts of tenant</span>
	</div>
	<div class="card-content">
		table
		<br>
		row<br>
		row<br>
		row<br>
		row<br>
		row<br>
		row<br>
	</div>
</div>